.header {
  margin-left: 2rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  position: relative;
}

div.header img {
  width: 50%;
  height: auto;
  margin-bottom: -4rem;
  margin-top: -5rem;
}

.burger-button {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  margin-right: 4rem;
}

.burger-button span {
  width: 4rem;
  height: 0.4rem;
  background-color: #00a870;
}
