.teaser{
    background-image: url(/public/images/keramikbg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    height: 50vh;
}

.teaser h1 {
    color:#e7e6dd;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 4.5rem;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
