@import "tailwindcss";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'helveticaneue';
}

@font-face {
  font-family: 'helveticaneue';
  src: url(/public/fonts/HelveticaNeue.ttf);
}