.practicalinfobox {
  background-image: url("/public/images/keramikbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #f9f9f9;
  height: 37.771rem;
  width: 100%;

}

.textbox {
  background-color: #0ea870d9;
  padding: 2rem;
  width: 35%;
  margin-left: 2rem;
  height: 37.771rem;
  font-size: 1.18rem;

}

.bookbutton {
  background-color: #00a870;
  color: #f9f9f9;
  border: none;
  border-radius: 8px;
  padding-bottom: 0.5rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  font-size: 2rem;
  font-weight: bolder;
  cursor: pointer;
  margin-top: 1rem;
  box-shadow: #333 0px 4px 6px -1px;
  left: 60rem;
  top: -8rem;
  position: relative;
}

.arrow {
  font-size: 2.5rem;
  margin-left: 2rem;
}

h3 {
  font-weight: bold;
  margin-bottom: 1rem;
}

.contact {
  margin-top: 1rem;
  margin-bottom: -0.1rem;
}

.prices {
  margin-top: 1rem;
  margin-bottom: -0.1rem;
}

.pinfo {
  margin-top: 0.3rem;
}

.pinfo a{
  color: #f9f9f9;
}

.aboutbox {
  background-color: #DCDAC9;
  width: 100%;
  height: 42rem;
  font-size: 1.8rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  letter-spacing: 0.1rem;
}

.aboutbox a{
  color: black;
}

a {
  text-decoration: underline;
}

.practical {
 background-image: url(/public/images/keramikstripes.svg);
 background-size: cover;
 width: 100%;
 height: 40rem;
 font-size: 1.5rem;
}

.practitle {
  font-size: 5rem;
  font-weight: bolder;
}

.pracbox {
  width: 45%;
  height: 30rem;
  padding-top: 7rem;
  margin-left: 6rem;
}

.bookbutton2 {
  background-color: #00a870;
  color: #f9f9f9;
  border: none;
  border-radius: 8px;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 2rem;
  font-weight: bolder;
  cursor: pointer;
  margin-top: 1rem;
  box-shadow: #333 0px 4px 6px -1px;
  left: 60rem;
  top: 1rem;
  position: relative;
}

.impossible {
  margin-top: 2rem;
  text-decoration: underline;
}

.opportunities {
  background-color: #00a870;
  color: #f9f9f9;
  width: 100%;
  height: auto;
  font-size: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  letter-spacing: 0.1rem;
  
}

.opptitle {
  font-weight: bolder;
}

.keramiklist {
  list-style-type: disc;
  margin-top: 3rem;
  margin-left: 3rem;
  width: 80%;
  line-height: 3rem;
}