.practicalinfobox {
  background-image: url("../images/keramikbg.png");
  background-size: cover;
  color: #f9f9f9;
  height: 30rem;

}

.textbox {
  background-color: #0ea870d9;
  padding: 2rem;
  width: 35%;
  margin-left: 2rem;
  height: 30rem;

}