.workshop-tile {
  display: flex;
  flex-direction: row;
  width: 1360px;
  height: 500px;
  background-color: #e7e6dde6;
  overflow: hidden;
  margin: 6rem auto;
}

.workshop-content {
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.workshop-text {
  flex: 1;
}

.workshop-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.workshop-description {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #333;
}

.workshop-button {
  background-color: #00a870;
  color: #f9f9f9;
  border: none;
  border-radius: 8px;
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  width: fit-content;
  margin-top: 1rem;
  box-shadow: #333 0px 4px 6px -1px;
}

.workshop-image-container {
  width: 50%;
  height: 100%;
}

.workshop-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 0.0001rem;
}

.workshop-tile-reverse {
  flex-direction: row-reverse;
}

.workshop-tile-reverse .workshop-button {
  align-self: flex-end;
}
